.countTask {
  max-width: 46.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 0 1.5rem 0;
  border-bottom: 1px solid var(--gray-400);
}

.countTask span {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 1px 8px;
  border-radius: 999px;
  margin-left: 0.3rem;
  font-size: 0.75rem;
}

.countTaskCreated {
  color: var(--blue);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
}

.countTaskCompleted {
  color: var(--purple);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
}

@media (max-width: 480px) {
  .countTask p {
    margin-bottom: 0.4rem;
  }

  .countTaskCreated,
  .countTaskCompleted {
    font-size: 0.875rem;
    flex-direction: column;
    text-align: center;
  }
}