.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .page {
    font-size: 87.5%;
    /* 16 - 100% */
    /* 14 - x    */
  }

  .container {
    padding: 2rem;
  }
}